<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#contact-submit button[type="submit"] {
	font-family: "Roboto", Sans-serif;
	font-weight: 500;
	fill: #14A44D;
	color: #FFFFFF;
	background-color: #14A44D;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #14A44D;
	border-radius: 100px 100px 100px 100px;
	box-shadow: 0px 4px 9px -4px #14A44D;;
	padding: 16px 55px 16px 55px;
}

#contact-submit button[type="submit"]:hover{
	font-family: "Roboto", Sans-serif;
	font-weight: 500;
	fill: #139c49;
	color: #CCD4DC;
	background-color: #139c49;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #139c49;
	border-radius: 100px 100px 100px 100px;
	box-shadow: 0px 4px 9px -4px #139c49;;
	padding: 16px 55px 16px 55px;
}</style>
<!-- end Simple Custom CSS and JS -->
